:root {
    --azul: #31E1F7;
    --morado: #400D51;
    --naranja: #FF4301;
}

.fondo_azul {
    background: var(--azul);
}

.fondo_morado {
    background: var(--morado);
}

.fondo_naranja {
    background: var(--naranja);
}

.letra_azul {
    color: var(--azul);
}

.letra_morado {
    color: var(--morado);
}

.letra_naranja {
    color: var(--naranja);
}


/* Diseño de Pagina completa */
body {
    margin: 0;
    background: var(--morado);
    display: flex;
    flex-direction: column;
}


/* Diseño de Head Sección */
.head {
    display: flex;
}

.nav_head {
    background: var(--naranja);

    border-radius: 5px;
    margin: 15px -75px 15px 90px;

    width: 60px;
    height: 8px;
}

.head_nav {
    display: flex;
    justify-content: end;
}

.btn_head {
    background: var(--naranja);

    border-radius: 5px;
    margin: -30px 90px 10px -70px;

    width: 25px;
    height: 25px;
}


/* Diseño de Nav Sección */
.nav {
    display: flex;
    justify-content: end;
}

.btn_nav {
    background: var(--naranja);

    padding: 10px;
    border-radius: 10px;
    margin: 25px 0px 25px 90px;

    width: 140px;
    height: 40px;
}

.nav_div {
    background: var(--naranja);

    border-radius: 5px;
    margin: -25px 90px 25px -65px;

    width: 70px;
    height: 8px;
}


/* Diseño de Primera Sección */
.uno {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h_uno {
    margin: 50px 0px -10px 0px;
}

.p_uno {
    text-align: center;
}

.btn_uno {
    background: var(--naranja);

    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px 100px 0px;

    width: 100px;
    height: 20px;
}


/* Diseño de Intermedia Sección */
.btn {
    display: flex;
    justify-content: center;

    position: absolute;
    left: 25vw;
    top: 22vw;
}

.btn_dos {
    background: var(--naranja);

    padding: 10px;
    border-radius: 10px;
    margin: 80px 20px 0px 20px;

    width: 160px;
    height: 80px;
}


/* Diseño de Segunda Sección */
.h3_dos {
    color: var(--naranja);

    display: flex;
    justify-content: center;

    margin: 100px 0px 20px 0px;
}

/* Diseño de tarjeta */
.tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.tarjeta {
    border: 3px solid var(--azul);
    margin: 70px 0px -70px 0px;
    border-radius: 15px;

    width: 25%;
}

.div_tarjeta {
    background: var(--azul);
    padding: 60px;
    border-radius: 15px;
    margin: 15px;
}

.h_tarjet {
    margin: 0px 0px 0 15px;
}

.h_tarjeta {
    margin: -20px 15px 0px 0px;
}

.p_tarjeta {
    margin: 10px 0px 10px 15px;
}

.tarjeta_uno {
    background: var(--naranja);
    padding: 10px;
    border-radius: 10px;

    margin: 10px 0px 10px 15px;
    width: 30px;
}

.tarjeta_parte_dos {
    border-top: 3px solid var(--azul);
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}

.nav_tarjeta {
    display: flex;
    justify-content: end;
}


.tarjeta_dos {
    background: var(--naranja);
    padding: 10px;
    border-radius: 8px;

    margin: -30px 15px 10px -10px;
    width: 5px;
}

/* Diseño de degradado */

.degradado {
    display: flex;
}

.div_solido {
    background: var(--naranja);

    margin: 60px -50px 0px 90px;
    width: 250px;
    height: 250px;
}

.div_degradado {
    background-image: repeating-linear-gradient(-40deg, var(--naranja) 0px, var(--naranja) 10px, var(--azul) 10px, var(--azul) 20px);

    margin: 60px -50px 0px 90px;
    width: 250px;
    height: 250px;
}

/* Diseño de Circulos */

.circulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.circulo_g {
    background: var(--azul);

    margin: 50px 0px 40px 0px;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.circulo_p {
    background: var(--azul);

    margin: 80px 110px 25px 110px;
    border-radius: 85px;
    width: 170px;
    height: 170px;
}

.h3_circulo {
    margin: -15px 0px 80px 0px;
}


/* Foot Sección */
.foot {
    display: flex;
}

.foot_dos {
    display: flex;
    justify-content: end;
}

.btn_foot {
    background: var(--naranja);

    border-radius: 5px;
    margin: 35px -75px 20px 90px;

    width: 30px;
    height: 30px;
}

.nav_foot {
    background: var(--naranja);

    border-radius: 5px;
    margin: 30px -75px 35px 90px;

    width: 45px;
    height: 8px;
}

.div_foot {
    margin: -130px 150px 0px -10px;
}

.h_foot {
    margin: 0px 0px 0px 0px;
}

.p_foot {
    margin: 0px 0px 0px 0px;
}